{% extends "UnifyWebBundle::Layout.html.twig" %}
{% block main %}
<div class="container">
   {% render "UnifyWebBundle:Widget:latestNews" with {'num': 3} %}
   <!-- content -->
   <div class="section" id="content">
      <h2>Contact Form</h2>
      <p>{{ form_errors(form) }}</p>
      <form id="contacts-form" method="post" action="{{ path('contact') }}" >
         <fieldset>
         <div class="field">
             <label><span style="color:red">*</span> Your Name:</label>
             {{ form_widget(form.name) }}
{{ form_errors(form.name) }}
         </div>
         <div class="field">
            <label><span style="color:red">*</span> Your E-mail:</label>
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
         </div>
         <div class="field">
            <label><span style="color:red">*</span> Your Message:</label>
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
            {{ form_rest(form) }}
         </div>
            
         <div class="button"><strong><span><a href="#" onClick="document.getElementById('contacts-form').submit(); return false;">Send Your Message!</a></span></strong></div>
         </fieldset>
      </form>
   </div>
   <div class="clear"></div>    
</div>
{% endblock %}