{% extends "UnifyWebBundle::Layout.html.twig" %}
{% block main %}
<div class="container">
   {% render "UnifyWebBundle:Widget:categories"  %}
   <!-- content -->
   <div class="section" id="content">
      <h2>{{ news.title }}</h2>
      <i>{{ news.getCreatedAt.format('M d, Y H:i') }}</i><br><br>
      <div class="img-box">
          {% if news.img %}
          <center><img src="{{ news.getImgPath() }}" class="imgb" alt="{{ news.title }}" /></center><br /><br />
          {% endif %}
          {{ news.content|nl2br }}
      </div>
   </div>
   <div class="clear"></div>
</div>
{% endblock %}