{% extends "UnifyWebBundle::Layout.html.twig" %}
{% block main %}
<div class="container">
   {% render "UnifyWebBundle:Widget:categories" %}
   <!-- content -->
   <div class="section" id="content">
      <h2>{{ product.title }}</h2>
      <i>{{ product.getCreatedAt.format('M d, Y H:i') }}</i><br><br>
      <div class="img-box">
          {% if product.img %}
          <center><img src="{{ product.getImgPath() }}" class="imgb" alt="{{ product.title }}" /></center><br /><br />
          {% endif %}
          {{ product.content|nl2br }}
      </div>
   </div>
   <div class="clear"></div>
</div>
{% endblock %}